:root {
	--color-black: #0a0a0d;
	--color-blue-slider: #1e2340;
	--color-darkest-blue: #0f1634;
	--color-dark-blue: #0f1637;
	--color-gray: #858899;
	--color-green: #2dcea7;
	--color-light-blue: #00b3ff;
	--color-light-green: #36ffac;
	--color-light-gray: #dde0ed;
	--color-light-gray-bg: #f6f6f8;
	--color-orange: #ff9900;
	--color-pink: #ff007a;
	--color-purple: #a433cc;
	--color-white: #fafafa;
	--color-white-bg: #e5e5e5;
}
